.page {
    min-height: 100vh;
    background-color: aliceblue;
}

.breadcrumb {
    margin: 16px 0;
}

.layoutContent {
    padding: 15px;
}

.pageContent {
    background-color: azure;
}

.backTop {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}