.page {
    min-height: 100vh;
}

.breadcrumb {
    margin: 16px 0;
    & span {
        color: #1088e9;
        font-weight: bold;
    }
}

.layoutContent {
    padding: 15px;
}

.pageContent {
    padding: 0;
}

.pageHeader {
    & [role="button"] {
        background-color: #1088e9 !important;
        border-radius: 50%;
        padding: 6px !important;
        & span {
            color: #fff;
        }
    }
    & span {
        color: #1088e9;
    }
}

.backTop {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}